.slider-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider-item-1 {
  background-color: red;
}
.slider-item-2 {
  background-color: purple;
}
.slider-item-3 {
  background-color: hotpink;
}
.slider-item-4 {
  background-color: powderblue;
}
.slider-item-5 {
  background-color: khaki;
}
.slider-item-6 {
  background-color: seagreen;
}
.slider-item-7 {
  background-color: skyblue;
}
.slider-item-8 {
  background-color: sienna;
}
.slick-vertical .slick-slide {
  height: 100vh;
}
.cont {
  position: relative;
}
.progress-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.slide-circle {
  border: 1px solid #ccc;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.slide-bar-active .slide-circle {
  background-color: gold;
  border-color: gold;
}
.slide-bar-active .slide-line  {
  background-color: gold;
  border-color: gold;
}
.slide-bar-last .slide-circle {
  background-color: green;
  border-color: green;
}
.slide-bar-last .slide-line {
  background-color: gold;
  border-color: gold;
}
.slide-line {
  height: 45px;
  width: 1px;
  margin: 0 auto;
  background-color: #cccccc;
}
