@media only screen and(max-width: 1200px) {
    .b-nav__wrapper {
        padding: 30px 5px 130px 5px;
    }
    .b-nav__phone {
        font-size: 1.125rem;
    }
}

@media only screen and(max-width: 1024px) {
    .b-nav__wrapper {
        justify-content: space-around;
    }
    .b-nav__item {
        width: 50%;
        flex: auto;
        ul {
            width: 80%;
            margin: 0 auto;
        }
    }
    .b-nav__phone {
        &:before {
            margin: 0;
        }
    }
}

@media only screen and(max-width: 768px) {
    .b-nav__heading {
        font-size: 1rem;
        line-height: 30px;
    }
    .b-nav__phone {
        font-size: 0.85rem;
    }
}