@media only screen and (max-width: 768px) {
  .commercial__item-text {
    position: static;
  }
  .commercial__item-image {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }
  .commercial__item-image_right {
    float: none;
  }
  .commercial__item {
    display: flex;
    flex-direction: column;
  }
  .commercial__item-1,
  .commercial__item-3,
  .commercial__item-5 {
    flex-direction: column-reverse;
  }
  .commercial__item-text-container_right {
    float: none;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
}
