.header-container {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding-top: 15px;
    transition: all $transitionTime;
    &.header__fixed {
        position: fixed;
        z-index: 2;
        background-color: rgba(0,0,0,0.4);
        .logo {
            width: 50px;
        }
    }
}
.header__fixed {
    transition: all $transitionTime;

    .lang {
        top: 25px;
    }
}

.logo {
    transition: all $transitionTime;
    img {
        width: 100%;
    }
}

.nav {
    >ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav__item {
    margin-left: 30px;
}
.nav__item_telephone {
    font-weight: 700;
    font-size: 1.125rem;
}
.nav__btn {
    a {
        text-align: center;
        height: 32px;
        line-height: 32px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        font-size: 0.75rem;
        display: block;
        transition: background-color $transitionTime;
        &:hover {
            background-color: $green;
        }
    }
}
.nav__item_camera {
    background-image: url('../img/main/camera.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    a {
        width: 120px;
    }
}
.nav__item_callback {
    a {
        width: 180px;
    }
}
.nav__item_3d {
    a {
        width: 120px;
    }
}
.nav__3d-text {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: $green;
    vertical-align: middle;
    line-height: 21px;
    margin-left: 7px;
}
.nav_item_lang {
    width: 78px;
    &:hover {
        cursor: pointer;
    }
}

.lang {
    height: 32px;
    width: 50px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow: hidden;
    vertical-align: middle;
    transition: height $transitionTime;
    position: absolute;
    top: 41px;
    a{
        display: block;
        text-align: center;
        width: 100%;
        line-height: 32px;
        font-size: 0.75rem;
    }
    &__opened {
        height: 100px;
        &+.lang__icon {
            transform: rotate(175deg);
        }
    }
}
.lang-item {
    transition: background-color $transitionTime;
    &:hover {
        background-color: $green;
        border-color: $green;
    }
}

.lang__icon {
    display: inline-block;
    width: 13px;
    height: 8px;
    background-image: url('../img/main/arrow.png');
    position: relative;
    left: 60px;
    transition: all $transitionTime;
}
.menu {
    width: 60px;
    font-size: 0.75rem;
    .menu__line {
        height: 2px;
        background-color: #fff;
        width: 100%;
        margin: 5px 0px;
    }
    .menu__line_2 {
        width: 60%;
    }
}