.main-page {
    margin-bottom: 40px;
}
// hero section start
.hero {
    position: relative;
    height: 100vh;
}
.hero__slider {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #919191;
}
.hero__wrapper {
    position: relative;
    height: 100%;
    padding-top: 35px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    min-width: 460px;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav__item_camera {
    a {
        display: block;
        padding: 0px 26px;
        width: 120px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #fff;
        border-radius: 5px;
        font-size: 0.75rem;
    }
}
.nav__item_3d {
    a {
        font-size: 2.25rem;
        font-weight: bold;
        position: relative;
        z-index: 1;
    }
    .nav__item_3d-tour {
        position: absolute;
        z-index: -1;
        top: -15px;
        left: 30px;
        border-radius: 50%;
        font-size: 0.625rem;
        text-align: center;
        line-height: 29px;
        width: 29px;
        height: 29px;
        background-color: $lightgreen;
    }
}
.lang {
    a{
        display: block;
        text-align: center;
        width: 50px;
        height: 32px;
        line-height: 32px;
        border-radius: 5px;
        border: 1px solid #fff;
        font-size: 0.75rem;
    }
}
.menu {
    width: 60px;
    font-size: 0.75rem;
    .menu__line {
        height: 2px;
        background-color: #fff;
        width: 100%;
        margin: 5px 0px;
    }
    .menu__line_2 {
        width: 60%;
    }
}
.hero__main {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.hero__heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
}
.hero__message {
    margin-top: 15px;
    font-size: 1.125rem;
    letter-spacing: 0.45px;
    line-height: 24px;
}
.btn__choose-apartment {
    display: inline-block;
    width: 279px;
    margin-top: 20px;
}
.hero__bottom-container {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.hero__bottom {
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn__order-call {
    display: inline-block;
    width: 180px;
    font-size: 0.75rem;
}
.hero__phone {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 24px;
}
.hero__address {
    display: inline-block;
    padding-left: 20px;
    border-left: 1px solid #fff;
    font-size: 0.75rem;
    line-height: 16px;  
}

.hero__svg-navigation {
}
.grid__line {
    fill:none;
    fill-rule:evenodd;
    stroke:#b2b2b2;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}
.motion__line {
    fill:none;
    fill-rule:evenodd;
    stroke:#fff;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}
.svg__text {
    font-size: 12px;
    fill: #fff;
    &:hover {
        cursor: pointer;
    }
}
.svg__text-line {
    fill:none;
    fill-rule:evenodd;
    stroke:red;
    stroke-width:1px;
    stroke-linecap: butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}
.svg-nav__marker {
    fill: $lightgreen;
}
#circle {
    fill: $lightgreen;
}
.svg-nav__circle {
    &:hover {
        cursor: pointer;
    }
}
// hero section end

// 3d-tour start
.ThreeDtour__wrapper {
    background-color: #454545;
    overflow: hidden;
}
.ThreeDtour__main {
    width: 640px;
    margin: 145px auto;
    text-align: center;
}
.ThreeDtour__heading {
    font-size: 1.875rem;
    &:after {
        margin: 8px auto 0px auto;
    }
}
.ThreeDtour__message {
    line-height: 24px;
    letter-spacing: 0.45px;
    font-size: 1.125rem;
    margin-top: 26px;
}
.btn__watch_3d-tour {
    display: inline-block;
    width: 180px;
    font-size: 0.75rem;
    margin-top: 45px;
}
// 3d-tour end

// construction-end start
.constructin-end__wrapper {
    padding: 46px 45px 82px;
    background-color: #343434; 
}
.construction-end__heading {
    text-align: center;
}
.construction-end__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.construction-end_list-item {
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    height: 140px;
    padding-left: 100px;
    font-size: 1.125rem;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
        background-image: url('../img/main/construction-end.png');
    }
}
.construction-end_list-item-1 {
    &:before {
        width: 81px;
        height: 57px;
    }
}
.construction-end_list-item-2 {
    &:before {
        width: 53px;
        height: 59px;
        background-position: -86px 0;
    }
}
.construction-end_list-item-3 {
    &:before {
        width: 65px;
        height: 66px;
        background-position: -144px 0;
    }
}
.construction-end_list-item-4 {
    &:before {
        width: 59px;
        height: 55px;
        background-position: -210px 0;
        left: 10px;
    }
}
.construction-end_list-item-5 {
    &:before {
        width: 57px;
        height: 68px;
        background-position: -273px 0;
    }
}
.construction-end_list-item-6 {
    &:before {
        width: 73px;
        height: 40px;
        background-position: -333px 0;
    }
}
.construction-end_list-item-7 {
    &:before {
        width: 70px;
        height: 72px;
        background-position: -408px 0;
    }
}
.construction-end_list-item-8 {
    &:before {
        width: 57px;
        height: 61px;
        background-position: -481px 0;
    }
}
.construction-end_list-item-9 {
    &:before {
        width: 57px;
        height: 44px;
        background-position: -542px 0;
        left: 10px;
    }
}
// construction-end end

// info start 
.info__wrapper {
    display: flex;
    justify-content: space-between;
}
.info__item {
    width: 48%;
    display: flex;
    flex-direction: column;
}
.info__item-image {
    background-color: #bada55;
    width: 100%;
    height: 250px;
}
.info__item-text {
    color: #000;
    padding: 39px 40px 81px 28px;
    border: 1px solid #cdcdcd; 
    flex: 1;
    position: relative;
}
.info__item-paragraph {
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-bottom: 35px;
}
.btn_info {
    position: absolute;
    display: block;
    width: 180px;
    bottom: 30px;
    right: 40px;
    font-size: 0.75rem;
    
}
// info end

// advantages start
.advantages__wrapper {
    position: relative;
}
.adantages__heading {
    position: absolute;
    top: 68px;
    left: 137px;
    z-index: 1;
}
.advantages__slider {
    width: 100%;
}
.advantages__slide {
    position: relative;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.advantages__slide_1 {
    background-image: url('../img/main/slider_2/1.png')
}
.advantages__slide_2 {
    background-image: url('../img/main/slider_2/2.png')
}
.advantages__slide-caption {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 100px;
    height: 100px;
    width: 440px;
    z-index: 1;
}
.advantages__slide-caption-number {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 100px;
    width: 100px;
    text-align: center;
    background-color: $green;
}
.advantages__slide-caption-text {
    font-size: 1.125rem;
    line-height: 26px;
    padding: 28px 43px 27px 37px;
    background-color: $lightgreen;
}
.slider_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        cursor: pointer;
    }
}
.slider_arrow-left {
    left: 20px;
}
.slider_arrow-right {
    right: 20px;
}
.advantages-slider_arrows {
    fill: #fff;
}
.advantages {
    .slick-dots {
        position: absolute;
        display: flex;
        right: 10px;
        bottom: 60px;
    }
}
.advantages__slider-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
}
// advantages end

// values start
.values__wrapper {
    position: relative;
}
.values__heading {
    position: absolute;
    top: 68px;
    left: 137px;
    z-index: 1;
}
.values__slide-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
.values__slide-caption-text {
    padding: 140px 5% 0px 137px;
}
.values__slide-caption-heading {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
}
.values__slide-caption-paragraph {
    font-size: 1.125rem;
    line-height: 26px;
    margin-top: 35px;
}
.values__slider {
    width: 100%;
}
.values__slide {
    position: relative;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.values__slide_1 {
    background-image: url('../img/main/slider_2/2.png')
}
.values__slide_2 {
    background-image: url('../img/main/slider_2/1.png')
}
.values-slider_arrows {
    fill: #fff;
}
// values end

// infrastrucutre start
.infrastructure__wrapper {
    position: relative;
}
.infrastructure__heading {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    &:after {
        margin: 8px auto 0px;
    }
}
.infrastructure__items {
    display: flex;
}
.infrastructure__item {
    width: 30%;
    min-height: 395px;
    flex: 1;
}
.infrastructure__item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.infrastructure__item_1 {
    background-color: yellowgreen;
}
.infrastructure__item_2 {
    background-color: tomato;
}
.infrastructure__item_3 {
    background-color: purple;;
}
// infrastrucutre end

// dayInO2 start 
.dayInO2__wrapper {
    min-height: 500px;
    background-color: #919191;
    overflow: hidden;
    color: #000;
}

.dayInO2__main {
    margin: 145px 0px 0px 137px;
}
.dayInO2__heading {
    font-size: 1.875rem;
    &::after {
        background-color: #000;
    }
}
.dayInO2__message {
    font-size: 1.125rem;
    margin-top: 26px;
}
.btn__dayInO2 {
    display: inline-block;
    width: 180px;
    font-size: 0.75rem;
    margin-top: 45px;
}
// dayInO2 end

// projects start

.projects__wrapper {
    border: 1px solid #cdcdcd;
}
.projects__slider-container {
    position: relative;
    margin-bottom: 20px;
    .slick-track {
        display: flex;
        align-items: center;
    }
}
.projects__slider {
    max-width: 1000px;
    margin: 0 auto;
}
.projects__heading {
    margin-top: 40px;
    color: #000;
    text-align: center;
    &::after {
        margin: 8px auto 0px;
        background-color: #000;
    }
}
.projects__slider-item {
    img {
        width: 100%;
        max-width: 170px;
        margin: 0 auto;
    }
}
.projects-slider_arrows {
    fill: $lightgreen;
}
// projects end

// contacts start

.contacts__wrapper {
    background-color: $lightgreen;
    min-height: 500px;
}
.contacts__tabs {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.contacts__tab {
    height: 100%;
    line-height: 50px;
    flex:1;
    text-align: center;
    background-color: $green;
    &.contacts__tab_active {
        background-color: $lightgreen;
    }
    &:hover {
        cursor: pointer;
    }
}
.contacts__heading {
    text-align: center;
    &::after {
        margin: -7px auto 0px;
    }
}
.contacts__tab-content__hidden {
    display: none;
}
.contacts__tab-content-2-form {
    form {
        max-width: 1020px;
        margin: 24px auto 0px;
    }
    input {
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        border: 1px solid rgba(255, 255, 255, 0.35);
        outline: none;
        background-color: transparent;
        color: #fff;
        letter-spacing: 0.45px;
        font-size: 1.125rem;
        padding-left: 31px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
            letter-spacing: 0.45px;
            font-size: 1.125rem;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
            letter-spacing: 0.45px;
            font-size: 1.125rem;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
            letter-spacing: 0.45px;
            font-size: 1.125rem;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
            letter-spacing: 0.45px;
            font-size: 1.125rem;
        }
    }
    .contacts__tab-submit-btn {
        font-size: 0.875rem;
        letter-spacing: 0,35px;
        max-width: 395px;
        margin: 0 auto;
        padding: 0px;
        border: none;
        background-color: $green;
        transition: all $transitionTime;
        &:hover {
            background-color: $lightgreen;
            cursor: pointer;
        }
    }
}
// contacts end

// b-nav start
.b-nav {
    background-color: #787878;
}
.b-nav__wrapper {
    display: flex;
    padding: 30px 0px 80px 0px;
}
.b-nav__item {
    flex: 1;
    letter-spacing: 0.4px;
    li {
        line-height: 30px;
    }
    a {
        transition: all $transitionTime;
        &:hover {
            color: $lightgreen;
        }
    }
}
.b-nav__heading {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 48px
}
.b-nav__phone {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 84px;
    &::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 27px;
        margin:0 15px;
        vertical-align: middle;
        background-color: $green;
    }
}
.btn_b-nav {
    display: block;
    &:hover {
        color: #fff !important;
    }
}
// b-nav end

// footer start 

.footer {
    background-color: #000;
}
.footer__wrapper {
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// footer end