@media only screen and (max-width: 1200px) {

    .hero__bottom {
        flex-direction: column-reverse;
        width: auto;
    }
    .hero__address {
        order: 3;
        border: none;
        margin-bottom: 20px;
        text-align: center;
    }
    .btn__order-call {
        order: 2;
        width: 100%;
        margin-bottom: 20px;
    }
    .hero__phone {
        order: 1;
    }
} //desktop

@media only screen and (max-width: 1024px) {

    .construction-end__list {
        justify-content: center;
    }

    .construction-end_list-item {
        width: 50%;
    }
    .advantages__slide-caption {
        height: auto;
    }
    .advantages__slide-caption-number {
        width: 65px;
        height: 65px;
        line-height: 65px;
    }
    .advantages__slide-caption-text {
        width: 300px;
        padding: 2px;
    }
    .adantages__heading {
        top:15px;
        left: 65px;
    }
    .values__slide {
        min-height: 550px;
    }
    .values__slide-caption-text {
        padding: 100px 50px 0px 50px;
    }
    .projects__slider {
        max-width: 660px;
    }
    .dayInO2__wrapper {
        background-position: 70%;
    }

} //tablet

@media only screen and (max-width: 767px) {
    .hero__svg-navigation {
        display: none;
    }
    .hero__bottom {
        margin: 0 auto;
    }
    .ThreeDMap__main {
        width: 90%;
    }
    .construction-end_list-item {
        width: 320px;
        margin: 0 auto;
    }
    .info__wrapper {
        flex-direction: column;
    }
    .info__item  {
        width: 95%;
        margin: 40px auto 0 auto;
    }
    .advantages__slide {
        height: 450px;
        background-position: 67%;
    }
    .advantages__slide-caption-number {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .values__slide-caption {
        width: 100%;
    }

    .infrastructure__items {
        flex-direction: column;
    }
    .infrastructure__item {
        width: 100%;
    }
    .contacts__tabs {
        flex-direction: column;
    }
    .contacts__tab {
        width: 100%;
    }
    .contacts__heading {
        margin-top: 100px;
    }
}//mobile
