@media only screen and(max-width: 1024px) {
    .menu__top-line {
        width: 85%
    }
    .menu__main-nav {
        justify-content: space-between;
    }
    .menu__nav {
        width: 30%;
    }
    .nav {
        min-width: auto;
    }
    .nav__item-camera, 
    .nav__item-3d,
    .nav__item-lang {
        display: none;
    }
    .nav__item-camera_mobile,
    .nav__item-3d_mobile,
    .nav__item-lang_mobile {
        display: block;
    }
    .menu__bottom {
        .nav__item {
            margin: 0px;
        }
        >ul {
            justify-content: space-around;
        }
    }
}
@media only screen and (max-width: 768px) {
    .nav__item-callback-mobile {
        display: block;
    }
    .nav__item-callback {
        display: none;
    }
}//mobile
