.header {
    overflow: visible;
}
.header-container {
    position: absolute;
    width: 100%;
    z-index: 3;
    padding-top: 5px;
    transition: all $transitionTime;
    &.header__fixed {
        position: fixed;
        z-index: 2;
        background-color: rgba(0,0,0,0.6);
        .logo {
            width: 50px;
        }
    }
}
.header__fixed {
    transition: all $transitionTime;
    .lang {
        top: 25px;
    }
}

.logo {
    width: 80px;
    transition: all $transitionTime;
    img {
        width: 100%;
    }
}

.nav {
    >ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav__item {
    margin-left: 30px;
}
.nav__item-telephone {
    font-weight: 700;
    font-size: 1.125rem;
}
.nav__btn {
    a {
        text-align: center;
        height: 32px;
        line-height: 32px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        font-size: 0.75rem;
        display: block;
        transition: background-color $transitionTime;
        &:hover {
            background-color: $green;
        }
    }
}
.nav__item-camera {
    background-image: url('../img/main/camera.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    a {
        width: 120px;
    }
}
.nav__item-callback {
    a {
        width: 180px;
    }
}
.nav__item-callback-mobile {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../img/common/phone_icon.png');
    background-position: center;
    background-repeat: no-repeat;
}
.nav__item-3d {
    a {
        width: 120px;
    }
}
.nav__3d-text {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: $green;
    vertical-align: middle;
    line-height: 21px;
    margin-left: 7px;
}
.nav__item-lang {
    font-size: 0.75rem;
    height: 32px;
    width: 75px;
    position: relative;
    display: inline-block;
    &:hover {
        cursor: pointer;
    }
}
.lang-list {
    position: absolute;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    height: 32px;
    width: 50px;
    line-height: 32px;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    transition: height $transitionTime;
}
.lang-item {
    width: 100%;
    height: 100%;
    display: block;
    &:hover {
        background-color: $green;
    }
}
.nav__item-lang-icon {
    display: inline-block;
    width: 13px;
    height: 10px;
    background-image: url('../img/common/arrow.png');
    background-repeat: no-repeat;
    float: right;
    margin-top: 10px;
    transition: transform $transitionTime;
}
.nav__item-lang_opened {
    .lang-list {
        height: 96px;
    }
    .nav__item-lang-icon {
        transform: rotate(175deg);
    }
}

.nav__item_menu {
    width: 60px;
    font-size: 0.75rem;
    .menu__line {
        height: 2px;
        background-color: #fff;
        width: 100%;
        transition: all $transitionTime;
        margin-top: 5px;
    }
    .menu__line_2 {
        transition: all $transitionTime;
        width: 60%;
    }
    .menu__line_3 {
        transition: all $transitionTime;
        width: 100%;
    }
    &:hover {
        cursor: pointer;
        .menu__line_1 {
            width: 60%;
        }
        .menu__line_2 {
            width: 40%;
        }
        .menu__line_3 {
            width: 20%;
        }
    }
}

// Drop down menu start
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/common/menu_bg.jpg');
    transition: all $transitionTime2;
    z-index: 4;
    &.menu_closed {
        transform: perspective(50em) rotateY(-90deg);
        transform-origin: right;
        opacity: 0;
    }
}
.menu__top {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menu__top-text {
    font-size: 1.5rem;
}
.menu__close-btn {
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/common/close_menu_btn.png');
    &:hover {
        cursor: pointer;
    }
}
.menu__top-line {
    position: absolute;
    bottom: 6px;
    right: 0;
    height: 1px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.25);
}
.menu__main-nav {
    max-width: 1160px;
    margin: 0px auto 20px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.menu__nav {
    width: 25%;
    line-height: 36px;
    margin-bottom: 45px;
}
.menu__nav-item_heading {
    color: #b3b3b3;
}
.menu__nav-link-news {
    margin-top: 36px;
}

.menu__nav-link-hover {
    display: inline-block;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #b3b3b3;
        transition: width $transitionTime;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}
.menu__nav-item {
    padding-left: 10px;
}
.menu__bottom {
    margin: 0 auto 80px auto;
    position: relative;
    max-width: 800px;
    >ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav__item-3d_mobile {
    display: none;
    a {
        width: 120px;
    }
}
.nav__item-lang_mobile {
    display: none;
}
// Drop down menu end