@include font-face("OpenSans", "../fonts/OpenSans/OpenSans-Light", 300);
@include font-face("OpenSans", "../fonts/OpenSans/OpenSans-Regular");
@include font-face("OpenSans", "../fonts/OpenSans/OpenSans-SemiBold", 600);
@include font-face("OpenSans", "../fonts/OpenSans/OpenSans-Bold", 700);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: "OpenSans", sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.45px;
}

a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 10px;
}

.btn {
    height:40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    &.btn_green {
        background-color: $green;
        transition: all $transitionTime;
        &:hover {
            background-color: $lightgreen;
        }
    }
    &.btn_lightgreen {
        background-color: $lightgreen;
        transition: all $transitionTime;
        &:hover {
            background-color: $green;
        }
    }
}

.heading {
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    line-height: 55px;
    &:after {
        content: '';
        display: block;
        margin-top: 8px;
        width: 52px;
        height: 1px;
        background-color: #fff;
    }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500%;
    height: 500%;
    z-index: 2;
  }
  .preloader_percents {
    font-size: 50px;
  }
  .preloader__white-cover {
      fill: #ffffff;
    }
  .preloader__loading-circlce{
      fill:none;
      stroke:$green;
    }
  .preloader__inner-circle{
      fill:#000;
    }
  .preloader__loading-percents{
      font-size:30px;
      fill: $green;
    }

.preloader__logo {
    fill: #ffffff;
}
.page-hero {
    background-color: #898989;
        
    .page-hero__heading {
        position: absolute;
        left: 0;
        bottom: 55px;
    }
}
.page-hero__wrapper {
    height: 500px;
    position: relative;
}