@include font-face("OpenSans", "../fonts/OpenSans/OpenSans-Light", 300);
@include font-face("OpenSans", "../fonts/OpenSans/OpenSans-Regular");
@include font-face("OpenSans", "../fonts/OpenSans/OpenSans-SemiBold", 600);
@include font-face("OpenSans", "../fonts/OpenSans/OpenSans-Bold", 700);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: "OpenSans", sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.45px;
}

a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 10px;
}

.btn {
    height:40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    &.btn_green {
        background-color: $green;
        transition: all $transitionTime;
        &:hover {
            background-color: $lightgreen;
        }
    }
    &.btn_lightgreen {
        padding: 0px 36px;
        background-color: $lightgreen;
        transition: all $transitionTime;
        &:hover {
            background-color: $green;
        }
    }
    &.btn_transparent {
        border: 3px solid $lightgreen;
        line-height: 35px;
        transition: all $transitionTime;
        &:hover {
            background-color: $lightgreen;
            border-color: transparent;
        }
    }
    .btn_arrow {
        display: inline-block;
        width: 26px;
        height: 13px;
        margin-left: 11px;
        vertical-align: middle;
        background-image: url('../img/main/btn_arrow.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.heading {
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    line-height: 55px;
    &:after {
        content: '';
        display: block;
        margin-top: 8px;
        width: 52px;
        height: 1px;
        background-color: #fff;
    }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500%;
    height: 500%;
    z-index: 2;
  }
  .preloader_percents {
    font-size: 50px;
  }
  .preloader__white-cover {
      fill: #ffffff;
    }
  .preloader__loading-circlce{
      fill:none;
      stroke:$green;
    }
  .preloader__inner-circle{
      fill:#000;
    }
  .preloader__loading-percents{
      font-size:30px;
      fill: $green;
    }

.preloader__logo {
    fill: #ffffff;
}
.page-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    .page-hero_nav {
        position: absolute;
        left: 15px;
        bottom: 55px;
    }
}
.page-hero__heading {
    font-weight: 700;
    font-size: 2.25rem;
    display: inline-block;
    margin: 50px;
    margin-left: 0px;
    color: #fff;
}
.page-hero_nav-links {
    display: inline-block;
}
.page-hero_nav-links-main {
    color: #ccc;
    text-decoration: underline;
    display: inline-block;
    margin-right: 10px;
    &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 15px;
        margin-left: 12px;
        background-color: #fff;
        vertical-align: middle;
    }
}
.page-hero_nav-links-active {
    text-decoration: underline;
}
.page-hero__wrapper {
    height: 500px;
    position: relative;
}